################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CudaCam/v16/.suo
/.vs
config.txt
stop.sh
start.sh
recorder.sh
