################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CudaCam/v16/.suo
/.vs
/.vscode
config.txt
stop.sh
start.sh
recorder.sh
mediamtx/LICENSE
mediamtx/mediamtx
mediamtx/mediamtx.yml
mediamtx/mediamtx.yml.original
jetson-inference/
jetson-utils/
