################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vscode/
mediamtx/
jetson-inference/
jetson-utils/
config.txt
start.sh
recorder.sh

